.topcontact {
  padding: 80px var(--padding-screen-side-sp);
  background: url(../../images/top/contact.jpg) no-repeat center / cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      var(--color-main) 50%,
      transparent
    );
    z-index: 0;
  }

  .topcontact_outer {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    & .heading {
      font-size: 40px;
      font-weight: var(--font-weight-medium);
      color: var(--color-light);
      font-size: clamp(6rem, 8vw, 13rem);
      font-weight: 800;
      font-family: var(--font-en);
      line-height: 1;
    }

    & > p {
      font-size: 14px;
      color: var(--color-light);
    }

    & .contentflex {
      display: flex;
      gap: 40px;
      justify-content: center;
      margin-top: 20px;

      & .button,
      .tel {
        display: block;
        width: 100%;
        width: 400px;
        padding: 10px 5px;
        font-weight: var(--font-weight-bold);
        line-height: 2;
        color: var(--color-light);
        text-align: center;
        letter-spacing: 0.15em;
        border: 1px solid var(--color-light);
        transition: all 0.2s ease-in-out;

        & a {
          color: var(--color-light);
          display: inline-block;

          &:hover {
            @media (min-width: 1081px) {
              color: var(--color-main);
            }
          }
        }

        &:hover {
          @media (min-width: 1081px) {
            color: var(--color-main);
            background-color: var(--color-light);
          }
        }
      }
    }
  }
}
