header {
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  backdrop-filter: blur(12px);
  padding: 10px 0;


  & .header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
      margin: 0 10px;
  box-sizing: border-box;

    & .logo {
      display: flex;
      justify-content: center;

      @media (min-width: 1024px) {
        margin-left: 56px;
      }

      & img {
        width: 80px;
      }
    }
  }
}
@media(max-width:600px){
  header {
  padding:  0;
  height: auto;

  & .header_inner {
    

    & .logo {

      & img {
        width: 50px;
      }
    }
  }
}
}

.hamburger {
  position: relative;
  width: 40px;
  height: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "menu";
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }
  @media(max-width:600px){
    margin-bottom: 16px;
  }
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger.open {
  z-index: 9999;
  position: relative;
}
/* .hamburger.open span {
  background: #000;
} */
/* ✕ に変形 */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 3px);
}

.hamburger.open span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, -3px);
}

.sp_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-image: radial-gradient(var(--color-main) 10%, #0d0d0d);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: all 0.3s ease;
  @media(max-width:700px){
    width: 70%;
  }
  @media(max-width:550px){
    width: 100%;
  }
  .border01,
  .border02 {
    content: "";
    position: absolute;
    height: 80%;
    width: 2px;
    background-color: #fff;
  }
  .border01 {
    bottom: 0;
    right: 5%;
  }
  .border02 {
    top: 0;
    left: 5%;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background: url(../../images/other/dots.png) no-repeat center;
    background-size: 100%;
    opacity: 0.4;
  }
  /* &::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 0;
    width: 70%;
    height: 18%;
    background: url(../../images/other/ball.png) no-repeat center;
    background-size: 100%;
    opacity: 0;
    transform: rotate(10deg) translateX(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
  } */
}
/* .sp_menu.open::after {
  transition-delay: 0.75s;
  transform: rotate(10deg) translateX(0px);
  opacity: 0.8;
} */

.sp_nav {
  & ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .sp_nav_item {
      width: 100%;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.4s ease, transform 0.4s ease;

      & a {
        width: 100%;
        font-size: 1.8rem;
        font-weight: var(--font-weight-semi-bold);
        line-height: 1.666;
        color: #fff;
        letter-spacing: 0.15em;
      }
    }
  }
}
.sp_menu.open .sp_nav_item {
  opacity: 1;
  transform: translateY(0);
}
.sp_menu.open .sp_nav_item:nth-child(1) {
  transition-delay: 0.3s;
}
.sp_menu.open .sp_nav_item:nth-child(2) {
  transition-delay: 0.45s;
}

.sp_menu.open .sp_nav_item:nth-child(3) {
  transition-delay: 0.6s;
}
.sp_menu.open .sp_nav_item:nth-child(4) {
  transition-delay: 0.75s;
}
.sp_nav {
  & .l_nav_wrap {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #110d0c;

    & .l_nav_outer {
      position: relative;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      & .l_nav_inner {
        padding: 0 0;
        height: 100%;
        min-height: 100%;

        & .l_nav_image {
          position: fixed;
          top: 0;
          left: 0;
          width: 50%;
          height: 100%;
          & ul {
            & .item {
              opacity: 0;
            }
            & li {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100vh;
              opacity: 0;
              transition: all 0.5s ease-in-out;
              &::before {
                content: "";
                position: absolute;
                /* background-image: radial-gradient(transparent 25%, #000000bd); */
                background-image: linear-gradient(
                  45deg,
                  #000000,
                  transparent 35% 63%,
                  #000000
                );
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;
              }
              & img {
                height: 100vh;
                object-fit: cover;
                transition: all 0.5s ease-in-out;
              }
            }
            & li.show {
              opacity: 1;
            }
          }
        }
        & .l_nav_body {
          position: relative;
          z-index: 1;
          margin: 0 0 0 auto;
          width: 50%;
          height: 100%;
          padding: 0 160px 0 calc(80 / 1360 * 100%);
          min-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          & .logoinner {
            width: 100px;
            position: absolute;
            bottom: 20px;
            right: 20px;
          }

          & .l_nav_nav {
            padding: 80px 0;
            margin: auto 0;
            width: 100%;
            max-width: 400px;

            & li {
              & a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.pcnav {
  display: none;
  height: 100%;
  overflow-x: auto;

  @media (min-width: 1024px) {
    display: block;
  }
}

.nav_list {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.nav_item {
  display: flex;
  align-items: center;
  white-space: nowrap;


  & a {
    position: relative;
    font-size: 16px;
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: 0.15em;
    &:hover {
      color: var(--color-sub);
      border-bottom: 2px solid;
    }
  }
  & a[aria-current="page"] {
    color: var(--color-sub);
  }
}

.nav_inst {
  width: 30px;
  & .insta {
    & img {
      width: 100%;
    }
  }
}

.menu {
  width: 20px;
  height: 20px;

}

.sns_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 218px;
  margin: 90px auto 60px;

  & a {
    display: flex;
  }
}

.headercontact {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  gap: 8px;
  font-weight: 600;
  @media (max-width: 801px) {
    display: none;
  }
}
/* メニューアイテムのホバースタイル */
.menu_item:hover .drop_menu_list {
  transform: scaleY(1) translateX(-50%); /* ドロップダウンメニューの表示 */
  transform: scaleY(1) translateX(-50%);
  -webkit-transform: scaleY(1) translateX(-50%);
  -ms-transform: scaleY(1) translateX(-50%);
  @media (max-width: 800px) {
    transform: none;
  }
}

/* ドロップダウンメニュー */

.linkbox {
  display: flex;
}

.spcontact {
  bottom: 0;
  width: 100%;
  display: flex;

  & a {
    width: 50%;
    padding: 16px 0;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid var(--color-main);
    border-right: 1px solid var(--color-main);
    color: var(--color-main);
    background: #ffffff;
  }
  & a:nth-of-type(2) {
    border-top: 1px solid var(--color-sub);
    border-left: 1px solid var(--color-sub);
    border-right: none;
    color: var(--color-sub);
  }
}

/* @media (width < 1024px) {
  .header{
    display: flex;
    justify-content: space-between;

    & h1{
      & .logo{
        display: block;
        margin-left: 10px;
        width: 20%;
      }
      
    }

  }
} */
